@media (max-width:768px){
   .Bettter{
	   text-align:center;
   }
   .Bettter h1{
	   font-size:35px;
   } 
   .Bettter p{
	   font-size:18px;
   }
   .about-content{
	   text-align:center;
   }
   .about{
	   text-align:center;
   }
    .services h2:after{
		top:30px;
	}   
	.services h2{
		font-size:20px;
	}	
    .nav-item i{
	  margin:0 auto;
font-size:20px;	  
	}
  .tab-pane h2{
	  margin:20px;
  }	
}
